
{% extends 'asseci/base.html' %}


{% block title %}LE BUREAU{% endblock %}

{% block vtitle %}LE BUREAU{% endblock %}


{% block content %}

{% load staticfiles %}



  <!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container">
        <div class="row"><div class="col-md-9 contenu">
          



<header class="single-post-header clearfix"> 
  
  <h2 class="post-title">LE BUREAU ACTUEL </h2>
   
</header>
<!-- Latest News -->
  <div class="listing post-listing">
    
    <header class="listing-header">
      <h3>ANNEE ACADEMIQUE - 2017/2018</h3>
    </header>
    
    <section class="listing-cont">
      <ul>
        
        <li class="item post">
          <div class="row">
            <div class="col-md-4"> <a href="" class="media-box"> <img src="{% static 'asseci/media/362/staff10.png' %}" alt="" style="background: url(media/372.jpg) no-repeat;background-size: 100%;  background-position: center;" class="img-thumbnail"> </a></div>
            <div class="col-md-8">
              <div class="post-title">
                <h2><a href="">Le Bureau</a></h2>
                <span class="meta-data"><i class="fa fa-users"></i> 7 Membres</div>
              <p>C'est notamment l'une des meilleures équipes encore en activité au sein de l'ASSECI ...</p>
            </div>
          </div>
        </li>
        
        
      </ul>
    </section>
  </div>
<article class="post-content cause-item">
  <div class="spacer-20"></div>
<h3>
  Les Membres constitutifs du bureau de cette année</h3>
L'équipe en place de cette année est constitué d'un président, ici en lieu et place de la personne de IBRAHIM CHAKOUR, d'un sécrétaire général, Monsieur FOTSO TAGNE DIDIER, d'un ministre des affaires exterieures, Monsieur BONY, d'un trésorier, Monsieur VALDES, d'un capitaine, Monsieur KAMGA STEFANE, d'un directeur des études, Monsieur MICHEAL, d'une ministre chargé des affaires sociales et de la culture, Madame STEPHANIE.<br />
<br />
<h4>
  Les Membres</h4>
Voici les membres du bureau ci-dessous mais en image. Chacun d'eux aura donné sa description personnelle et aura défini son profil de manière individuelle<br />
<br />
<p></p>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'asseci\media\chakour.jpg' %}" alt="ABOH">
      <div class="caption">
        <h3 style="text-align: center;">I. CHAKOUR</h3>
        <p style="text-align: center;"><em>Président</em></p>
        <p style="text-align: center;">IIème Année ING</p>
      </div>
    </div>
  </div>
  <!--div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'asseci\media\avatar02.jpg' %}" alt="ABOH">
      <div class="caption">
        <h3 style="text-align: center;">FOTSO DIDIER</h3>
        <p style="text-align: center;"><em>Sécrétaire Général</em></p>
        <p style="text-align: center;">IèRE Année ING</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'asseci\media\362\yann.png' %}" alt="ABOH">
      <div class="caption">
        <h3 style="text-align: center;">VALDES</h3>
        <p style="text-align: center;"><em>Trésorier Payeur Général</em></p>
        <p style="text-align: center;">IIème Année ING</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'asseci\media\362\yann.png' %}" alt="ABOH">
      <div class="caption">
        <h3 style="text-align: center;">BONY</h3>
        <p style="text-align: center;"><em>Ministre des Affaires Extérieures</em></p>
        <p style="text-align: center;">IIème Année ING</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'asseci\media\362\yann.png' %}" alt="ABOH">
      <div class="caption">
        <h3 style="text-align: center;">MICHEAL</h3>
        <p style="text-align: center;"><em>Directeur des Etudes</em></p>
        <p style="text-align: center;">IIème Année ING</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'asseci\media\362\yann.png' %}" alt="ABOH">
      <div class="caption">
        <h3 style="text-align: center;">KAMGA Stefane</h3>
        <p style="text-align: center;"><em>Capitaine</em></p>
        <p style="text-align: center;">Ière Année ING</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'asseci\media\362\yann.png' %}" alt="ABOH">
      <div class="caption">
        <h3 style="text-align: center;">STEFANIE</h3>
        <p style="text-align: center;"><em>Chargé des Affaires Sociales et Culturelles</em></p>
        <p style="text-align: center;">IIème Année ING</p>
      </div>
    </div>
  </div-->

</div>
  
</article>



</div>
          <!-- Start Sidebar -->
          <div class="col-md-3 sidebar">
            <div class="widget sidebar-widget search-form-widget">
  <div class="input-group input-group-lg">
<form action="http://association-2.kiubi-web.com/recherche/cms/" method="get" style="display: inherit;">
      <input name="r" type="text" class="form-control"  id="r" placeholder="Rechercher..." />
      <span class="input-group-btn"><input type="submit" value="Ok" class="submit btn btn-default" title="Lancer la recherche" style="height:34px;" /></span> 
</form>
</div>
</div>

            
<div class="widget sidebar-widget">
  
  <div class="sidebar-widget-title">
    <h3>Le Bureau par Année</h3>
  </div>
  
  <ul>
    
      <li><a href="blog/index.html" title="Toutes les cat&eacute;gories" class="actif">2015</a></li>
      <li><a href="blog/index.html" title="Toutes les cat&eacute;gories" class="actif">2016</a></li>
      <li><a href="blog/index.html" title="Toutes les cat&eacute;gories" class="actif">2017</a></li>
      <li><a href="blog/index.html" title="Toutes les cat&eacute;gories" class="actif">2018</a></li>
      <li><a href="blog/index.html" title="Toutes les cat&eacute;gories" class="actif">2019</a></li>
      
      
      <li><a href="blog/Generale/index.html" title="G&eacute;n&eacute;rale" class="">Toutes les equipes</a></li>
      
      
  </ul>
</div>

          </div>
        </div>
      </div>
    </div>
  </div>
  


<!-- Start Featured Gallery -->
  <div class="featured-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <h4>Galerie</h4>
          <a href="timeline.html" class="btn btn-default btn-lg">Plus</a> </div>
        <div class="col-md-3 col-sm-3 post format-image"> <a href="{% static 'asseci/media/382/gallery-img6.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img6.jpg' %}" alt=""> </a> </div>
        <div class="col-md-3 col-sm-3 post format-video"> <a href="{% static 'asseci/media/382/gallery-img3.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img3.jpg' %}" alt=""> </a> </div>
        <div class="col-md-3 col-sm-3 post format-image"> <a href="{% static 'asseci/media/382/gallery-img4.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img4.jpg' %}" alt=""> </a> </div>
      </div>
    </div>
  </div>
<!-- End Featured Gallery --> 



  {% endblock %}