
{% extends 'asseci/base.html' %}


{% block title %}TABLEAU DE BORD{% endblock %}

{% block vtitle %}TABLEAU DE BORD{% endblock %}


{% block content %}

{% load staticfiles %}

<div class="main" role="main">
    <div id="content" class="content full">
      <div class="container">
        <div class="row"><div class="col-md-12 contenu">

<div id="content" class="content full">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
  
  <header class="post_header">
    <h2 class="post-title">Tableau de bord</h2>
  </header>
  
   <article class="post-content cause-item">
  <form method="post" action="http://association-2.kiubi-web.com/compte/avatar.html" enctype="multipart/form-data">
    <fieldset>
    <h4>Mon avatar</h4><img src="./Association - Votre compte - 21_11_2017ava_files/332" alt="Avatar" align="center">
    <div class="content_avatar"> 
      <p>Nous vous conseillons une image (gif, jpeg, png) <strong> d'au moins </strong> 120 pixels de large et 120 pixels de hauteur. Elle sera redimensionnée au besoin.</p>
      <p class="label_inner"><label for="file_avatar">Votre avatar&nbsp;:</label>
        <input type="file" name="file_avatar" id="file_avatar" title="Uploader une image de votre ordinateur">
      </p>
      <p>Vous pouvez aussi choisir d'utiliser une image déjà en ligne à l'adresse web ci-dessous :</p>
      <p class="label_inner"><label for="url_avatar">Votre avatar&nbsp;:</label>
        <input type="text" name="url_avatar" id="url_avatar" value="" title="Copier une image sur Internet" maxlength="100" class="form-control" placeholder="http://www.monsiteweb.com/avatar.gif">
    </p></div>
    </fieldset>
    <p><input type="submit" value="Valider" class="submit btn btn-primary" title="Valider">
    <input type="button" value="Annuler" class="submit reset btn btn-primary-reset" title="Annuler" onclick="document.location.href=&#39;../compte/&#39;">
    <input type="hidden" name="act" value="update">
    <input type="hidden" name="ctl" value="compte_client/gestion_avatar"></p>
  </form>
</article>
</div>
</div>
</div>
</div>

        </div> </div>
        </div>
      </div>
    </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  


<!-- Start Featured Gallery -->
  <div class="featured-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <h4>Galerie</h4>
          <a href="timeline.html" class="btn btn-default btn-lg">Plus</a> </div>
        <div class="col-md-3 col-sm-3 post format-image"> <a href="{% static 'asseci/media/382/gallery-img6.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img6.jpg' %}" alt=""> </a> </div>
        <div class="col-md-3 col-sm-3 post format-video"> <a href="{% static 'asseci/media/382/gallery-img3.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img3.jpg' %}" alt=""> </a> </div>
        <div class="col-md-3 col-sm-3 post format-image"> <a href="{% static 'asseci/media/382/gallery-img4.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img4.jpg' %}" alt=""> </a> </div>
      </div>
    </div>
  </div>
<!-- End Featured Gallery --> 



  {% endblock %}