
{% extends 'asseci/base.html' %}


{% block title %}MEMBRES - PROFIL{% endblock %}

{% block vtitle %}PROFILS{% endblock %}


{% block content %}

{% load staticfiles %}

  <!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container">
      



<div class="row">
<div class="col-md-8 col-sm-6"> 
<!-- Latest News -->
  <div class="listing post-listing">
    
    <header class="listing-header">
      <h3>ABOH ABOH YANNICK THIERRY</h3>
    </header>
    
    <section class="listing-cont">
      <ul>
        
        <li class="item post">
          <div class="row">
            <div class="col-md-4"> <a href="" class="media-box"> <img src="{% static 'asseci\media\362\yann.png' %}" alt="" style="background: url({% static 'asseci/media/372.jpg' %}) no-repeat;background-size: 100%;  background-position: center;" class="img-thumbnail"> </a></div>
            <div class="col-md-8">
              <div class="post-title">
                <h2><a href="blog/2015/07/20/test.html">Le DSI</a></h2>
                <span class="meta-data"><i class="fa fa-calendar"></i> Né le 27 Août<br />
                <span class="meta-data"><i class="fa fa-user"></i> Nationalité Camerounaise</div>
              <p><span class="meta-data"><i class="fa fa-edit"></i> Description Sommaire<br />
              Doux, Humble, Travailleur, Très Sociable, perfectionniste ...</p>
            </div>
          </div>
        </li>
        
      </ul>
    </section>
  </div>

<div class="spacer-30"></div>

<!-- Events Listing -->
<div class="listing events-listing">
  
  <header class="listing-header">
    <h3>Parcours Académique</h3>
  </header>
  
  <section class="listing-cont">
    <ul>
      
      <li class="item event-item">
     
        <div class="event-detail">
         <h4><a href="single-post.html">Diplômes Universitaires</a></h4>
          <span class="event-dayntime meta-data">Ingénieur de Conception en Informatique (En cours...)</span> 
          <span class="event-dayntime meta-data">Ingénieur des Travaux option Systèmes et Réseaux</span> 
          <span class="event-dayntime meta-data">Technicien Supérieur option Systèmes et Réseaux</span>
          <span class="event-dayntime meta-data">License Banque Monnaie Finance Filière Sciences Economiques</span></div>
        <div class="to-event-url">
      </li>
      
      <li class="item event-item">
     
        <div class="event-detail">
         <h4><a href="single-post-2.html">Diplômes Secondaires</a></h4> 
          <span class="event-dayntime meta-data">Baccalauréat Série D</span> 
          <span class="event-dayntime meta-data">Probatoire Série D</span></div>
        <div class="to-event-url">
      </li>
      
    </ul>
  </section>
</div>

<div class="spacer-30"></div>

<!-- Events Listing -->
<div class="listing events-listing">
  
  <header class="listing-header">
    <h3>Compétences</h3>
  </header>
  
  <section class="listing-cont">
    <ul>
      
      <li class="item event-item">
     
        <div class="event-detail">
         <h4><a href="single-post.html">Reseaux et Systèmes</a></h4> 
          <span class="event-dayntime meta-data">Administration Réseau (Routage, Installation Réseau, )</span> 
          <span class="event-dayntime meta-data">Administration Systèmes (Windows, )</span></div>
        <div class="to-event-url">
      </li>
      
      <li class="item event-item">
     
        <div class="event-detail">
         <h4><a href="single-post-2.html">Base de Données</a></h4> 
          <span class="event-dayntime meta-data">SGBD (MySQL, SQLite, )</span> </div>
        <div class="to-event-url">
      </li>

      <li class="item event-item">
     
        <div class="event-detail">
         <h4><a href="single-post-2.html">Developpement</a></h4> 
          <span class="event-dayntime meta-data">Mobile (Hybride, Androide)</span> 
          <span class="event-dayntime meta-data">Web (Php, Java2E)</span>
          <span class="event-dayntime meta-data">Frameworks Web (Symfony, Django, CodeIgniter, )</span>
          <span class="event-dayntime meta-data">Design (CSS3, Bootstrap4, )</span>
          </div>
        <div class="to-event-url">
      </li>

      <li class="item event-item">
     
        <div class="event-detail">
         <h4><a href="single-post-2.html">Certifications</a></h4> 
          <span class="event-dayntime meta-data"></span> </div>
        <div class="to-event-url">
      </li>

      <li class="item event-item">
     
        <div class="event-detail">
         <h4><a href="single-post-2.html">Autres</a></h4> 
          <span class="event-dayntime meta-data"></span> </div>
        <div class="to-event-url">
      </li>
      
    </ul>
  </section>
</div>

<div class="spacer-30"></div>

<!-- Events Listing -->
<div class="listing events-listing">
  
  <header class="listing-header">
    <h3>Hobbies et Passion</h3>
  </header>
  
  <section class="listing-cont">
    <ul>
      
      <li class="item event-item">
     
        <div class="event-detail">
         <h4><a href="single-post.html">Voyages</a></h4> 
          <span class="event-dayntime meta-data">Asie, Amerique du Nord, Afrique</span> </div>
        <div class="to-event-url">
      </li>
      
      <li class="item event-item">
     
        <div class="event-detail">
         <h4><a href="single-post-2.html">Sport</a></h4> 
          <span class="event-dayntime meta-data">Football</span> 
          <span class="event-dayntime meta-data">Tennis</span>
          <span class="event-dayntime meta-data">Basket</span></div>
        <div class="to-event-url">
      </li>

      <li class="item event-item">
     
        <div class="event-detail">
         <h4><a href="single-post-2.html">Politique</a></h4> 
          <span class="event-dayntime meta-data">Neutre et Apolitique</span> </div>
        <div class="to-event-url">
      </li>

      <li class="item event-item">
     
        <div class="event-detail">
         <h4><a href="single-post-2.html">Autres</a></h4> 
          <span class="event-dayntime meta-data"></span> </div>
        <div class="to-event-url">
      </li>
      
    </ul>
  </section>
</div>





</div>



<!-- Start Sidebar -->

<div class="col-md-4 col-sm-6">
    <!-- Latest Sermons -->
    <div class="listing sermons-listing">
    <header class="listing-header"> 
      
      <h3>Activités</h3>
       
    </header>
    <section class="listing-cont">
    <ul>

    <li class="item sermon">
      <h2 class="sermon-title"><a href="">Formations</a></h2>
      <span class="meta-data"><i class="fa fa-calendar"></i> Management (JA Gabon)</span> </li>

    <li class="item sermon">
      <h2 class="sermon-title"><a href="">Certifications</a></h2>
      <span class="meta-data"><i class="fa fa-calendar"></i> CCNA </span> </li>

    </ul>

    <ul>
    <li class="item sermon">
      <h2 class="sermon-title"><a href="">Projets</a></h2>
      <span class="meta-data"><i class="fa fa-calendar"></i> GéoPharma+</span> 
      <span class="meta-data"><i class="fa fa-calendar"></i> Site ASSECI</span>
      <span class="meta-data"><i class="fa fa-calendar"></i> M-INSPECT</span></li>

    </ul>

    </section>
    </div><div class="spacer-40"></div>

    <!-- Latest Sermons -->
    <div class="listing sermons-listing">
    <header class="listing-header"> 
      
      <h3>Mes Contacts</h3>
       
    </header>
    <section class="listing-cont">
    <ul>

      <li class="item sermon">
        <div class="post-title">
          <span class="meta-data"><i class="fa fa-phone"></i> +241 06 68 23 53<br />
          <span class="meta-data"><i class="fa fa-facebook"></i> Yannick ABOH<br />
          <span class="meta-data"><i class="fa fa-twitter"></i> @YannickABOH<br />
          <span class="meta-data"><i class="fa fa-google"></i> YannickThierryABOH<br />
          <span class="meta-data"><i class="fa fa-home"></i> Libreville, Campus IAI<br />
        </div>
      </li>
    </ul>

    </section>
    </div>


</div>

        </div>
      </div>
    </div>
  </div>
  
</div><div class="spacer-40"></div>
  


<!-- Start Featured Gallery -->
  <div class="featured-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <h4>Galerie</h4>
          <a href="timeline.html" class="btn btn-default btn-lg">Plus</a> </div>
        <div class="col-md-3 col-sm-3 post format-image"> <a href="{% static 'asseci/media/382/gallery-img6.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img6.jpg' %}" alt=""> </a> </div>
        <div class="col-md-3 col-sm-3 post format-video"> <a href="{% static 'asseci/media/382/gallery-img3.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img3.jpg' %}" alt=""> </a> </div>
        <div class="col-md-3 col-sm-3 post format-image"> <a href="{% static 'asseci/media/382/gallery-img4.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img4.jpg' %}" alt=""> </a> </div>
      </div>
    </div>
  </div>
<!-- End Featured Gallery --> 



  {% endblock %}