
{% extends 'asseci/base.html' %}


{% block title %}MENTIONS LEGALES{% endblock %}

{% block vtitle %}MENTIONS LEGALES{% endblock %}


{% block content %}

{% load staticfiles %}

  <!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container">
        <div class="row"><div class="col-md-9 contenu">
          


<article class="post_simple">
  <header class="post_header">
  
    <h2>Mentions légales</h2>
  
    
  </header>
  <article class="post_content">
    Merci de lire attentivement les pr&eacute;sentes modalit&eacute;s d&#39;utilisation du pr&eacute;sent site avant de le parcourir. En vous connectant sur ce site, vous acceptez sans r&eacute;serve les pr&eacute;sentes modalit&eacute;s.
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>1.1.1 Éditeur du site</h3>
  </header>
  <article class="post_content">
    H14<br />
ABOH Yannick<br />
IAI Libreville, ING Ière Année<br />
Email : <a href="mailto:yannickabohthierry@gmail.com">yannickabohthierry@gmail.com</a><br />
H14 est l'une des meilleures promotions de <br />
L'ASSECI : 
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>1.1.2 Conditions d'utilisation</h3>
  </header>
  <article class="post_content">
    Le site accessible par les url suivants : asseci.com est exploit&eacute; dans le respect de la l&eacute;gislation fran&ccedil;aise. L&#39;utilisation de ce site est r&eacute;gie par les pr&eacute;sentes conditions g&eacute;n&eacute;rales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir accept&eacute;es. Celles-ci pourront &ecirc;tres modifi&eacute;es &agrave; tout moment et sans pr&eacute;avis par la soci&eacute;t&eacute; natural net.<br />
natural net ne saurait &ecirc;tre tenu pour responsable en aucune mani&egrave;re d&rsquo;une mauvaise utilisation du service.
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>1.1.3 Responsable éditorial</h3>
  </header>
  <article class="post_content">
    FOTSO Didier<br />
Email : <a href="fotsotagnedidier@gmail.com">fotsotagnedidier@gmail.com</a>
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>1.2 Limitation de responsabilités</h3>
  </header>
  <article class="post_content">
    Les informations contenues sur ce site sont aussi pr&eacute;cises que possibles et le site est p&eacute;riodiquement remis &agrave; jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait &ecirc;tre un dysfonctionnement, merci de bien vouloir le signaler par <a href="mailto:contact@natural-net.fr">email</a> en d&eacute;crivant le probl&egrave;me de la mani&egrave;re la plus pr&eacute;cise possible (page posant probl&egrave;me, action d&eacute;clenchante, type d&rsquo;ordinateur et de navigateur utilis&eacute;, &hellip;).<br />
<br />
Tout contenu t&eacute;l&eacute;charg&eacute; se fait aux risques et p&eacute;rils de l&#39;utilisateur et sous sa seule responsabilit&eacute;. En cons&eacute;quence, natural net ne saurait &ecirc;tre tenu responsable d&#39;un quelconque dommage subi par l&#39;ordinateur de l&#39;utilisateur ou d&#39;une quelconque perte de donn&eacute;es cons&eacute;cutives au t&eacute;l&eacute;chargement.<br />
<br />
Les photos sont non contractuelles.<br />
<br />
Les liens hypertextes mis en place dans le cadre du pr&eacute;sent site internet en direction d&#39;autres ressources pr&eacute;sentes sur le r&eacute;seau Internet ne sauraient engager la responsabilit&eacute; de natural net.
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>1.3 Litiges</h3>
  </header>
  <article class="post_content">
    Les pr&eacute;sentes conditions sont r&eacute;gies par les lois fran&ccedil;aises et toute contestation ou litiges qui pourraient na&icirc;tre de l&#39;interpr&eacute;tation ou de l&#39;ex&eacute;cution de celles-ci seront de la comp&eacute;tence exclusive des tribunaux dont d&eacute;pend le si&egrave;ge social de la soci&eacute;t&eacute; natural net. La langue de r&eacute;f&eacute;rence, pour le r&egrave;glement de contentieux &eacute;ventuels, est le fran&ccedil;ais.
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>1.4.1 Déclaration à la CNIL</h3>
  </header>
  <article class="post_content">
    Conform&eacute;ment &agrave; la loi 78-17 du 6 janvier 1978 (modifi&eacute;e par la loi 2004-801 du 6 ao&ucirc;t 2004 relative &agrave; la protection des personnes physiques &agrave; l&#39;&eacute;gard des traitements de donn&eacute;es &agrave; caract&egrave;re personnel) relative &agrave; l&#39;informatique, aux fichiers et aux libert&eacute;s, le site a fait l&#39;objet d&#39;une d&eacute;claration aupr&egrave;s de la Commission nationale de l&#39;informatique et des libert&eacute;s (<a href="http://www.cnil.fr/" target="_blank">www.cnil.fr</a>). D&eacute;p&ocirc;t sous le num&eacute;ro .
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>1.4.2 Droit d'accès</h3>
  </header>
  <article class="post_content">
    En application de cette loi, les internautes disposent d&rsquo;un droit d&rsquo;acc&egrave;s, de rectification, de modification et de suppression concernant les donn&eacute;es qui les concernent personnellement. Ce droit peut &ecirc;tre exerc&eacute; par voie postale aupr&egrave;s de natural net 36 cours de reims 33400 talence ou par voie &eacute;lectronique &agrave; l&rsquo;adresse email suivante : <a href="mailto:contact@natural-net.fr">contact@natural-net.fr</a>.<br />
Les informations personnelles collect&eacute;es ne sont en aucun cas confi&eacute;es &agrave; des tiers hormis pour l&rsquo;&eacute;ventuelle bonne ex&eacute;cution de la prestation command&eacute;e par l&rsquo;internaute.
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>1.4.3 Finalité</h3>
  </header>
  <article class="post_content">
    Les informations recueillies aupr&egrave;s des personnes par le biais des diff&eacute;rents formulaires sont conformes &agrave; la Loi Informatique et Libert&eacute;s. Nous vous informons que vos r&eacute;ponses, sauf indication contraire, sont facultatives et que le d&eacute;faut de r&eacute;ponse n&#39;entra&icirc;ne aucune cons&eacute;quence particuli&egrave;re. N&eacute;anmoins, vos r&eacute;ponses doivent &ecirc;tre suffisantes pour nous permettre la bonne ex&eacute;cution du service command&eacute;. Les donn&eacute;es sont &eacute;galement agr&eacute;g&eacute;es dans le but d&rsquo;&eacute;tablir des statistiques commerciales.<br />
En vertu de la loi n&deg; 2000-719 du 1er ao&ucirc;t 2000, les coordonn&eacute;es d&eacute;clar&eacute;es par l&rsquo;acheteur pourront &ecirc;tre communiqu&eacute;es sur r&eacute;quisition des autorit&eacute;s judiciaires.
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>1.4.4 Confidentialité</h3>
  </header>
  <article class="post_content">
    Vos donn&eacute;es personnelles sont confidentielles et ne seront en aucun cas communiqu&eacute;es &agrave; des tiers hormis pour la bonne ex&eacute;cution de la prestation.
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>1.5 Propriété intellectuelle</h3>
  </header>
  <article class="post_content">
    Tout le contenu du pr&eacute;sent site, incluant, de fa&ccedil;on non limitative, les graphismes, images, textes, vid&eacute;os, animations, sons, logos, gifs et ic&ocirc;nes ainsi que leur mise en forme sont la propri&eacute;t&eacute; exclusive de la soci&eacute;t&eacute; natural net &agrave; l&#39;exception des marques, logos ou contenus appartenant &agrave; d&#39;autres soci&eacute;t&eacute;s partenaires ou auteurs.<br />
Toute reproduction, distribution, modification, adaptation, retransmission ou publication, m&ecirc;me partielle, de ces diff&eacute;rents &eacute;l&eacute;ments est strictement interdite sans l&#39;accord expr&egrave;s par &eacute;crit de natural net. Cette repr&eacute;sentation ou reproduction, par quelque proc&eacute;d&eacute; que ce soit, constitue une contrefa&ccedil;on sanctionn&eacute;e par les articles L.3335-2 et suivants du Code de la propri&eacute;t&eacute; intellectuelle. Le non-respect de cette interdiction constitue une contrefa&ccedil;on pouvant engager la responsabilit&eacute; civile et p&eacute;nale du contrefacteur. En outre, les propri&eacute;taires des Contenus copi&eacute;s pourraient intenter une action en justice &agrave; votre encontre.<br />
<br />
natural net est identiquement propri&eacute;taire des &quot;droits des producteurs de bases de donn&eacute;es&quot; vis&eacute;s au Livre III, Titre IV, du Code de la Propri&eacute;t&eacute; Intellectuelle (loi n&deg; 98-536 du 1er juillet 1998) relative aux droits d&#39;auteur et aux bases de donn&eacute;es.<br />
<br />
Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce site, mais uniquement en direction de la page d&rsquo;accueil, accessible &agrave; l&rsquo;URL suivante : association-2.kiubi-web.com, &agrave; condition que ce lien s&rsquo;ouvre dans une nouvelle fen&ecirc;tre. En particulier un lien vers une sous page (&laquo; lien profond &raquo;) est interdit, ainsi que l&rsquo;ouverture du pr&eacute;sent site au sein d&rsquo;un cadre (&laquo; framing &raquo;), sauf l&#39;autorisation expresse et pr&eacute;alable de natural net.<br />
<br />
Pour toute demande d&#39;autorisation ou d&#39;information, veuillez nous contacter par email : <a href="mailto:contact@natural-net.fr">contact@natural-net.fr</a>. Des conditions sp&eacute;cifiques sont pr&eacute;vues pour la presse.
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>1.6 Marques</h3>
  </header>
  <article class="post_content">
    Le site accessible par les urls suivants : association-2.kiubi-web.com est une marque de natural net. Les marques sont des marques d&eacute;pos&eacute;es et propri&eacute;t&eacute; exclusive de natural net.<br />
Tous les autres noms de produits ou de soci&eacute;t&eacute;s mentionn&eacute;s dans le pr&eacute;sent site sont les marques de leurs titulaires respectifs.<br />
Nous rappelons que le d&eacute;p&ocirc;t de noms de domaines voisins aux marques pr&eacute;c&eacute;dentes (&laquo; typo-squatting &raquo;) ou une reproduction des m&eacute;ta-tags (&laquo; position-squatting &raquo;) ou l&rsquo;emploi de marques dans les m&eacute;ta-tags est puni par la loi.
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>1.7 Coordonnées de l'Opérateur Technique</h3>
  </header>
  <article class="post_content">
    <span style="font-weight: bold;">H14</span><br />
Plateforme de gestion et cr&eacute;ation de sites internet<br />
<a href="http://www.h14.com/" target="_blank">www.h14.com</a><br />
<a href="mailto:contact@h14.com?subject=natural net">contact@h14.com</a>
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h2>Conditions de service</h2>
  
    <h3>2.1 Configuration</h3>
  </header>
  <article class="post_content">
    Pour une utilisation optimis&eacute;e de ce service nous vous conseillons :<br />
<ul>
  <li>
    une m&eacute;moire vive (RAM) de 2 gigaaoctets minimum,</li>
  <li>
    connexion ADSL (ou supp&eacute;rieure) conseill&eacute;e,</li>
  <li>
    configuration d&#39;&eacute;cran : 1024 x 768 ou plus,</li>
  <li>
    ce site est optimis&eacute; pour la navigateurs supportant les standards HTML5 et CSS3 (Internet Explorer 9+, FireFox 14+, Chrome 20+ et Safari 6+),</li>
  <li>
    pour l&#39;utiliser correctement votre navigateur doit supporter javascript.</li>
</ul>

  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>2.2 Information et exclusion</h3>
  </header>
  <article class="post_content">
    natural net met en &oelig;uvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise &agrave; jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L&#39;internaute devra donc s&#39;assurer de l&#39;exactitude des informations aupr&egrave;s de natural net, et signaler toutes modifications du site qu&#39;il jugerait utile. natural net n&#39;est en aucun cas responsable de l&#39;utilisation faite de ces informations, et de tout pr&eacute;judice direct ou indirect pouvant en d&eacute;couler.
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>2.3 Les cookies</h3>
  </header>
  <article class="post_content">
    Pour des besoins de statistiques et d&#39;affichage, le pr&eacute;sent site utilise des cookies. Il s&#39;agit de petits fichiers textes stock&eacute;s sur votre disque dur afin d&#39;enregistrer des donn&eacute;es techniques sur votre navigation. Certaines parties de ce site ne peuvent &ecirc;tre fonctionnelle sans l&rsquo;acceptation de cookies.
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>2.4 Liens Hypertexte</h3>
  </header>
  <article class="post_content">
    Les sites internet de natural net peuvent offrir des liens vers d&rsquo;autres sites internet ou d&rsquo;autres ressources disponibles sur Internet.<br />
<br />
natural net ne dispose d&#39;aucun moyen pour contr&ocirc;ler les sites en connexion avec ses sites internet. natural net ne r&eacute;pond pas de la disponibilit&eacute; de tels sites et sources externes, ni ne la garantit. Elle ne peut &ecirc;tre tenue pour responsable de tout dommage, de quelque nature que ce soit, r&eacute;sultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu&rsquo;ils proposent, ou de tout usage qui peut &ecirc;tre fait de ces &eacute;l&eacute;ments. Les risques li&eacute;s &agrave; cette utilisation incombent pleinement &agrave; l&#39;internaute, qui doit se conformer &agrave; leurs conditions d&#39;utilisation.<br />
<br />
Les utilisateurs, les abonn&eacute;s et les visiteurs des sites internet de natural net ne peuvent mettre en place un hyperlien en direction de ce site sans l&#39;autorisation expresse et pr&eacute;alable de natural net.<br />
<br />
Dans l&#39;hypoth&egrave;se o&ugrave; un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d&rsquo;un des sites internet de natural net, il lui appartiendra d&#39;adresser un email accessible sur le site afin de formuler sa demande de mise en place d&#39;un hyperlien. natural net se r&eacute;serve le droit d&rsquo;accepter ou de refuser un hyperlien sans avoir &agrave; en justifier sa d&eacute;cision.
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>2.5 Recherche</h3>
  </header>
  <article class="post_content">
    En outre, le renvoi sur un site internet pour compl&eacute;ter une information recherch&eacute;e ne signifie en aucune fa&ccedil;on que natural net reconna&icirc;t ou accepte quelque responsabilit&eacute; quant &agrave; la teneur ou &agrave; l&#39;utilisation dudit site.
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>2.6 Précautions d'usage</h3>
  </header>
  <article class="post_content">
    Il vous incombe par cons&eacute;quent de prendre les pr&eacute;cautions d&#39;usage n&eacute;cessaires pour vous assurer que ce que vous choisissez d&#39;utiliser ne soit pas entach&eacute; d&#39;erreurs voire d&#39;&eacute;l&eacute;ments de nature destructrice tels que virus, trojans, etc....
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>2.7 Responsabilité</h3>
  </header>
  <article class="post_content">
    Aucune autre garantie n&#39;est accord&eacute;e au client, auquel incombe l&#39;obligation de formuler clairement ses besoins et le devoir de s&#39;informer. Si des informations fournies par natural net apparaissent inexactes, il appartiendra au client de proc&eacute;der lui-m&ecirc;me &agrave; toutes v&eacute;rifications de la coh&eacute;rence ou de la vraisemblance des r&eacute;sultats obtenus. natural net ne sera en aucune fa&ccedil;on responsable vis &agrave; vis des tiers de l&#39;utilisation par le client des informations ou de leur absence contenues dans ses produits y compris un de ses sites Internet.
  </article>
</article>

<article class="post_simple">
  <header class="post_header">
  
    <h3>2.8 Écrivez-nous</h3>
  </header>
  <article class="post_content">
    natural net est &agrave; votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous &eacute;crire en fran&ccedil;ais par courrier &eacute;lectronique &agrave; : <a href="mailto:contact@natural-net.fr">contact@h14.fr</a>.
  </article>
</article>


</div>
          <!-- Start Sidebar -->
          <div class="col-md-3 sidebar">
            <div class="widget sidebar-widget search-form-widget">
  <div class="input-group input-group-lg">
<form action="http://association-2.kiubi-web.com/recherche/cms/" method="get" style="display: inherit;">
      <input name="r" type="text" class="form-control"  id="r" placeholder="Rechercher..." />
      <span class="input-group-btn"><input type="submit" value="Ok" class="submit btn btn-default" title="Lancer la recherche" style="height:34px;" /></span> 
</form>
</div>
</div>

            
<div class="widget sidebar-widget">
  
  <div class="sidebar-widget-title">
    <h3>Catégories</h3>
  </div>
  
  <ul>
    
      <li><a href="blog/index.html" title="Toutes les cat&eacute;gories" class="actif">Toutes les catégories</a></li>
      
      
      <li><a href="blog/Generale/index.html" title="G&eacute;n&eacute;rale" class="">Générale (2)</a></li>
      
      
  </ul>
</div>

          </div>
        </div>
      </div>
    </div>
  </div>
  


<!-- Start Featured Gallery -->
  <div class="featured-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <h4>Galerie</h4>
          <a href="timeline.html" class="btn btn-default btn-lg">Plus</a> </div>
        <div class="col-md-3 col-sm-3 post format-image"> <a href="{% static 'asseci/media/382/gallery-img6.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img6.jpg' %}" alt=""> </a> </div>
        <div class="col-md-3 col-sm-3 post format-video"> <a href="{% static 'asseci/media/382/gallery-img3.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img3.jpg' %}" alt=""> </a> </div>
        <div class="col-md-3 col-sm-3 post format-image"> <a href="{% static 'asseci/media/382/gallery-img4.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img4.jpg' %}" alt=""> </a> </div>
      </div>
    </div>
  </div>
<!-- End Featured Gallery --> 



  {% endblock %}