
{% extends 'asseci/base.html' %}


{% block title %}LE BUREAU{% endblock %}

{% block vtitle %}LE BUREAU{% endblock %}


{% block content %}

{% load staticfiles %}



  <!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container">
        <div class="row"><div class="col-md-9 contenu">
          



<header class="single-post-header clearfix"> 
  
  <h2 class="post-title">LE BUREAU ACTUEL </h2>
   
</header>
<!-- Latest News -->
  <div class="listing post-listing">
    
    <header class="listing-header">
      <h3>NOS MISSIONS</h3>
    </header>
    
    <section class="listing-cont">
      <ul>
        
        <li class="item post">
          <div class="row">
            <div class="col-md-4"> <a href="" class="media-box"> <img src="{% static 'asseci/media/362/staff4.jpg' %}" alt="" style="background: url(media/372.jpg) no-repeat;background-size: 100%;  background-position: center;" class="img-thumbnail"> </a></div>
            <div class="col-md-8">
              <div class="post-title">
                <h2><a href="">Les Missions du Bureau</a></h2>
                <span class="meta-data"><i class="fa fa-home"></i> 5 Missions</div>
              <p>Suite à l'Assemblée Générale tenue le 27/05/2017 donnant prise effective du pouvoir, nous membres du bureau avons decider de nous donner comme objectifs à atteindre l'amélioration de 5 notions ci-dessous au sein de la grande famille ASSECI, mais toute oeuvre n'étant parfaite, l'équipe toute entière reste et demeure suspendu à vos suggestions et propositions.
              <br><em>Le Président...</em></p>
            </div>
          </div>
        </li>
        
        
      </ul>
    </section>
  </div>
<article class="post-content cause-item">
  <div class="spacer-20"></div>
<h3>
  Les Missions du bureau de cette année</h3>
L'équipe en place de cette année est constitué d'un président, ici en lieu et place de la personne de IBRAHIM CHAKOUR, d'un sécrétaire général, Monsieur FOTSO TAGNE DIDIER, d'un ministre des affaires exterieures, Monsieur BONY, d'un trésorier, Monsieur VALDES, d'un capitaine, Monsieur KAMGA STEFANE, d'un directeur des études, Monsieur MICHEAL, d'une ministre chargé des affaires sociales et de la culture, Madame STEPHANIE.<br />
<br />
<h4>
  L'ACCUEIL</h4>
Le Bureau doit s'assurer de l'accueil des nouveaux, de leur obtention du concours jusqu'à leur arrivée sur le sol gabonais.<br />
<br />
<h4>
  L'ENCADREMENT</h4>
Le Bureau doit s'assurer de l'encadrement de tous les étudiants présents et inscrits au cours de l'année académique.<br />
<br />
<h4>
  LE SUIVI</h4>
Le Bureau doit s'assurer de l'application des textes en vigeur faisant état de la prise en charge effective, financière, morale et technique des plus anciens envers les nouveaux ou les bleus.<br />
<br />
<h4>
  L'ENTREPRENEURIAT</h4>
Le Bureau doit s'assurer de la participation de tous les étudiants inscrits, aux différentes activités dans les domaines de l'innovation, l'entrepreneuriat, et l'informatique, visant ainsi à permettre à ceux-ci de pouvoir prendre connaissance de ce qui ce fait de mieux dans le monde professionnel.<br />
<br />
<h4>
  LE RESEAU ASSECI</h4>
Le Bureau doit s'assurer de la mise en contact de tous les nouveaux arrivants avec l'ensemble du réseau ASSECI, pour leur intronisation, leur intégration parfaite et leur donner la possibilité de pouvoir agrandir leur carnet d'adresse. Le but étant ici de permettre aux unx et aux autres de se connaitre et d'agrandir la famille ASSECI.<br />
<br />
<p></p>



  
</article>



</div>
          <!-- Start Sidebar -->
          <div class="col-md-3 sidebar">
            <div class="widget sidebar-widget search-form-widget">
  <div class="input-group input-group-lg">
<form action="http://association-2.kiubi-web.com/recherche/cms/" method="get" style="display: inherit;">
      <input name="r" type="text" class="form-control"  id="r" placeholder="Rechercher..." />
      <span class="input-group-btn"><input type="submit" value="Ok" class="submit btn btn-default" title="Lancer la recherche" style="height:34px;" /></span> 
</form>
</div>
</div>

            
<div class="widget sidebar-widget">
  
  <div class="sidebar-widget-title">
    <h3>Le Bureau par Année</h3>
  </div>
  
  <ul>
    
      <li><a href="blog/index.html" title="Toutes les cat&eacute;gories" class="actif">2015</a></li>
      <li><a href="blog/index.html" title="Toutes les cat&eacute;gories" class="actif">2016</a></li>
      <li><a href="blog/index.html" title="Toutes les cat&eacute;gories" class="actif">2017</a></li>
      <li><a href="blog/index.html" title="Toutes les cat&eacute;gories" class="actif">2018</a></li>
      <li><a href="blog/index.html" title="Toutes les cat&eacute;gories" class="actif">2019</a></li>
      
      
      <li><a href="blog/Generale/index.html" title="G&eacute;n&eacute;rale" class="">Toutes les equipes</a></li>
      
      
  </ul>
</div>

          </div>
        </div>
      </div>
    </div>
  </div>
  


<!-- Start Featured Gallery -->
  <div class="featured-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <h4>Galerie</h4>
          <a href="timeline.html" class="btn btn-default btn-lg">Plus</a> </div>
        <div class="col-md-3 col-sm-3 post format-image"> <a href="{% static 'asseci/media/382/gallery-img6.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img6.jpg' %}" alt=""> </a> </div>
        <div class="col-md-3 col-sm-3 post format-video"> <a href="{% static 'asseci/media/382/gallery-img3.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img3.jpg' %}" alt=""> </a> </div>
        <div class="col-md-3 col-sm-3 post format-image"> <a href="{% static 'asseci/media/382/gallery-img4.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img4.jpg' %}" alt=""> </a> </div>
      </div>
    </div>
  </div>
<!-- End Featured Gallery --> 



  {% endblock %}