
{% extends 'asseci/base.html' %}


{% block title %}PRESENTATION{% endblock %}

{% block vtitle %}PRESENTATION{% endblock %}


{% block content %}

{% load staticfiles %}

<!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container">
        <div class="row"><div class="col-md-9 contenu">
          



<header class="single-post-header clearfix"> 
  
  <h2 class="post-title">ASSECI</h2>
   
</header>
<article class="post-content cause-item">
  <div class="spacer-20"></div>
  
  <img src="{% static 'asseci/media/72/logo_asseci2.png' %}" class="img-responsive">
  
  <div class="spacer-30"></div>
   <p>
  L'ASSECI est une fondation reconnue d'utilité publique. – soit à un établissement public (CCAS par exemple). – soit à une association déclarée dont l'objet est similaire de celle dissoute. À défaut de l'avoir prévu dans les statuts, c'est l'assemblée générale qui décide la dissolution et les bénéficiaires des biens.</p>
<h3>
  Historique</h3>
L’histoire de l’Association est intimement liée à celle de l’Ecole. Constamment, la situation internationale a été la toile de fond de ces deux évolutions mêlées. Une Ecole qui change sept fois de nom en cent trente et une années d’existence laisse des traces.

Née en 1875 sous l’Empire allemand, simple Ecole de techniciens à ses débuts, elle forme des cadres techniques, des hommes de terrain accompagnant la deuxième révolution industrielle.
C’est bien après la première guerre mondiale que commence la bataille pour une reconnaissance du titre d’ingénieur. Même si les enjeux dépassaient largement le cadre national, c’est bien à cette échelle qu’il fallait se battre. Un combat mené par des jeunes ingénieurs en quête de reconnaissance aboutit en 1934, à l’avènement de la SIES (Société des Ingénieurs de l’Ecole Nationale Technique de Strasbourg).
Désormais, rien ne sera plus comme avant.

En 1939, la guerre redevient réalité. Mais le conflit a au moins le mérite de clarifier et de cristalliser les choix. En 1945, les membres fondateurs de la SIES, trempés par ce qu’ils ont vécu, coordonnent leurs actions et poursuivent leur combat. Vingt années durant, les ingénieurs de l’ENTS, de l’ENIS puis de l’ENSAIS vont se battre sur tous les fronts pour défendre leurs intérêts. Concevoir de nouveaux statuts. Bâtir un foyer pour accueillir les étudiants qui désormais viennent de toute la France. Inciter à la construction de locaux neufs, mieux adaptés à la vocation nationale de l’Ecole. 
Réfléchir avec le corps enseignant à une pédagogie. Jamais on ne dira l’importance pour une institution de receler en son sein des personnalités aussi déterminées qu’un SAUER, qu’un RADIUS, qu’un RIEGGER et tant d’autres.

C’est en 1975 que culmine cette lutte de tous les instants, par le centenaire d’une institution devenue à force de volonté Ecole nationale des Arts et Industries de Strasbourg. Quelques années plus tard, elle gagne une autonomie élargie.
Et les relations entre l’Association des ingénieurs – désormais Arts et Industries – et l’Ecole restent étroites. Il y a dans cette histoire un désir d’affirmation et d’émancipation exemplaires qui fait fi des résistances, de l’indifférence. A l’exemple d’Otton SAUER qui aura été jusqu’à sa mort un fédérateur d’énergies hors pair.

Voici maintenant l’Ecole et l’Association des diplômés, une nouvelle fois à un tournant d’une histoire commune. En devenant INSA de Strasbourg, l’Ecole a rejoint un réseau structuré et connu au niveau européen. Car c’est bien de l’Europe qu’il s’agit. « Je suis européen parce que je suis alsacien » aimait à dire Pierre PFIMLIN. Gageons que ce cri du cœur est aussi celui d’une institution qui rêve d’un avenir apaisé entre les nations du vieux continent.<br />
<br />
  
</article>



</div>
          <!-- Start Sidebar -->
          <div class="col-md-3 sidebar">
            <div class="widget sidebar-widget search-form-widget">
  <div class="input-group input-group-lg">
<form action="http://association-2.kiubi-web.com/recherche/cms/" method="get" style="display: inherit;">
      <input name="r" type="text" class="form-control"  id="r" placeholder="Rechercher..." />
      <span class="input-group-btn"><input type="submit" value="Ok" class="submit btn btn-default" title="Lancer la recherche" style="height:34px;" /></span> 
</form>
</div>
</div>

            
<div class="widget sidebar-widget">
  
  <div class="sidebar-widget-title">
    <h3>Catégories</h3>
  </div>
  
  <ul>
    
      <li><a href="blog/index.html" title="Toutes les cat&eacute;gories" class="actif">Toutes les catégories</a></li>
      
      
      <li><a href="blog/Generale/index.html" title="G&eacute;n&eacute;rale" class="">Générale (2)</a></li>
      
      
  </ul>
</div>

          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Content -->
  


<!-- Start Featured Gallery -->
  <div class="featured-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <h4>Galerie</h4>
          <a href="timeline.html" class="btn btn-default btn-lg">Plus</a> </div>
        <div class="col-md-3 col-sm-3 post format-image"> <a href="{% static 'asseci/media/382/gallery-img6.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img6.jpg' %}" alt=""> </a> </div>
        <div class="col-md-3 col-sm-3 post format-video"> <a href="{% static 'asseci/media/382/gallery-img3.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img3.jpg' %}" alt=""> </a> </div>
        <div class="col-md-3 col-sm-3 post format-image"> <a href="{% static 'asseci/media/382/gallery-img4.jpg' %}" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="{% static 'asseci/media/382/gallery-img4.jpg' %}" alt=""> </a> </div>
      </div>
    </div>
  </div>
<!-- End Featured Gallery --> 



  {% endblock %}